@tailwind base;
@tailwind components;
@tailwind utilities;

.cycle-scroll {
  display: flex;
  white-space: nowrap;
  overflow-x: auto;
  scroll-behavior: smooth;
}

.cycle-scroll:hover {
  animation: cycle 15s linear infinite;
}

@keyframes cycle {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
